<ul class="meta">
  {% if post.categories.size > 0 %}
  <li>
    Categories: {% for category in post.categories %} {{ category }}{% endfor %}
  </li>
  {% endif %}
  {% comment %}
  <!-- Uncomment if you implement tags -->
  {% if post.tags.size > 0 %}
  <li>
    Tags: {% for tag in article.tags %}{{ tag | link_to_tag }}&nbsp;{% endfor %}
  </li>
  {% endif %}
  {% endcomment %}
  <li>
    Meta: 
    {% comment %}
    <script>
      var idcomments_acct = 'c0aacadded8e090de7c7d19f80ab739d';
      var idcomments_post_id;
      var idcomments_post_url = "http://" + window.location.host + "{{ post.url }}";
    </script>
    <script type="text/javascript" src="http://www.intensedebate.com/js/genericLinkWrapperV2.js"></script>
    {% endcomment %}
    <a href="{{ post.url }}">permalink</a>
    {% comment %} <!-- There's currently no per-article syndication feed for Mephisto --> , syndicate {% endcomment %}
  </li>
</ul>
